<header class="bg-white text-gray-900 py-4 shadow-md">
  <div class="max-w-6xl mx-auto flex justify-between items-center px-6">
    <div
      class="flex-1 flex items-baseline bg-gradient-to-r from-blue-900 via-blue-700 to-blue-500 rounded-xl px-6 py-2 max-w-[85%]"
    >
      <a
        routerLink="/"
        class="text-3xl font-extrabold tracking-tight text-white"
      >
        🌍 ViajAI
      </a>
      <a
        routerLink="/about"
        class="text-base font-normal text-white border-b-2 border-transparent hover:border-white transition-all duration-300 ml-6"
      >
        Sobre
      </a>
    </div>

    <nav class="flex items-center gap-4 ml-4">
      <a
        routerLink="/criar-conta"
        class="px-3 py-2 text-sm text-blue-500 bg-white rounded-lg font-medium border border-blue-500 hover:bg-blue-50 transition-all duration-300"
      >
        Criar Conta
      </a>
      <a
        routerLink="/acessar-conta"
        class="px-3 py-2 text-sm text-white bg-gradient-to-r from-blue-900 via-blue-700 to-blue-500 rounded-lg font-medium hover:brightness-110 transition-all duration-300"
      >
        Acessar Conta
      </a>
    </nav>
  </div>
</header>

<main class="p-6 min-h-screen relative bg-gray-50">
  <router-outlet></router-outlet>
</main>
